#profile {
  vertical-align: top;
  width: 180px;
  overflow: hidden;
}

#profile img {
  padding-bottom: 20px;
}

#profile h3 {
  font-size: 18px;
  line-height: 28px;
}

#profile p {
  font-size: 14px;
  line-height: 24px;
}

#profile .boards-list {
  margin-top: -10px;
}

#profile .boards-list a {
  color: rgba(210, 20, 20, .75);
  text-decoration: none;
}

#profile .boards-list a.selected,
#profile .boards-list a:hover {
  color: rgba(210, 20, 20, .4)
}

#profile .boards-list h3 {
  font-size: 14px;
  line-height: 14px;
}

#profile .boards-list a.selected,
#profile .boards-list h3 {
  pointer-events: none;
  cursor: default;
}

#profile .board-item {
  padding: 10px 10px 10px 0;
}


@media (max-width: 768px) {
  #profile {
    display: block;
    width: 100%;
  }

  #profile img {
    float: left;
    padding-right: 20px;
  }

  #profile .boards-list {
    padding: 0 0 20px 0;
  }

  #profile .board-item {
    padding: 10px 10px 10px 15px;
  }

  #profile .boards-list h3 {
    font-size: 16px;
    line-height: 16px;
  }
}