body {
	margin: 20px;
}

#loading {
	background-image: url('../img/ajax-loader.gif');
	background-position: center 0;
	background-repeat: no-repeat;
	text-align: center;
	width: 200px;
}

#loading p {
	padding-top: 40px;
}

#pledges .row {
	display: table;
	width: 100%;
}

#pledges .col {
	display: table-cell;
}

#pledges .pledges {
	margin: 0;
	padding: 0;
}

#pledges .pledge {
	background-color: #D8D8D8;
	margin-bottom: 20px;
	padding: 10px;
}

#pledges .pledge-item {
	color: #1bad4b;
	cursor: pointer;
	float: left;
	list-style-type: none;
	margin: 0 20px 20px 0;
}

#pledges .pledge-item:hover {
	color: #c02e8a;
	text-decoration: underline;
}

#pledges .pledge-item .image {
	background-position: center center;
	background-size: auto 100%;
	height: 200px;
	pointer-events: none;
	width: 200px;
}

#pledges .pledge-item .caption {
	margin: 10px 0;
	pointer-events: none;
}

#pledges .profile-image {
	width: 300px;
}

#pledges .profile-image img {
	width: 100%;
}

#pledges .goals {
	padding-left: 25px;
	text-align: left;
	vertical-align: top;
}

#pledges .percentage span {
	color: #1bad4b;
	font-size: 30px;
}

#pledges .donate-button {
	background-color: #1bad4b;
	color: #fff;
	display: block;
	float: left;
	padding: 5px;
	text-decoration: none;
}

#pledges .donate-button:hover {
	background-color: #c02e8a;
}

#pledges strong {
	font-weight: 100;
}