body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	
}

p,
li,
ul,
h1,
h2,
h3 {
	line-height: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

.loading {
	background-image: url('../img/ajax-loader.gif');
	background-position: center 0;
	background-repeat: no-repeat;
	text-align: center;
	width: 200px;
}

.loading p {
	font-size: 12px;
	line-height: 16px;
	padding-top: 40px;
}

.row {
	display: table;
	width: 100%;
}

.col {
	display: table-cell;	
}

@media (min-width: 1200px) {
  body {
    margin: 20px auto 40px auto;
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  body {
    margin: 20px 20px 40px 20px;
  }
}