<!-- html/header/menu.html -->
<div class="menu row">
  <div class="categories col">
    <ul class="category-list">
    <% _.each(categories, function (category) { %>
      <li class="category-item">
        <a id="<%= category.get('id') %>" href="/#/category/<%= category.get('id') %>" title="<%= category.get('title') %>"><%= category.get('title') %></a>
      </li>
    <% }); %>
    </ul>
  </div>
  <div class="users col">
    <a href="/#/author" title="Autor filters">Authors</a>
  </div>
</div>